USE [master]
GO
/****** Object:  Database [ITForumDB]    Script Date: 27.02.2026 2:06:37 ******/
CREATE DATABASE [ITForumDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITForumDB', FILENAME = N'D:\Sql\MSSQL17.MSSQLSERVER\MSSQL\DATA\ITForumDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITForumDB_log', FILENAME = N'D:\Sql\MSSQL17.MSSQLSERVER\MSSQL\DATA\ITForumDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITForumDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITForumDB]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 27.02.2026 2:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Summary] [nvarchar](100) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
	[StatusID] [int] NOT NULL,
	[AuthorID] [int] NOT NULL,
	[PartnerID] [int] NULL,
 CONSTRAINT [PK__Articles__9C6270C86269524B] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleStatuses]    Script Date: 27.02.2026 2:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ArticleStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 27.02.2026 2:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[Date] [date] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__Comments__C3B4DFAA074476C1] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 27.02.2026 2:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[PartnerID] [int] IDENTITY(1,1) NOT NULL,
	[PartnerName] [nvarchar](50) NOT NULL,
	[ContactInfo] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Partners__39FD6332986572DF] PRIMARY KEY CLUSTERED 
(
	[PartnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27.02.2026 2:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__Roles__8AFACE3AABA7967A] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 27.02.2026 2:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.02.2026 2:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](30) NULL,
	[CreationDate] [date] NOT NULL,
 CONSTRAINT [PK__Users__1788CCAC214CF7C3] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([ArticleID], [Title], [Summary], [Content], [Date], [StatusID], [AuthorID], [PartnerID]) VALUES (1, N'Тренды искусственного интеллекта', N'Обзор современных ИИ', N'Подробная статья о развитии искусственного интеллекта', CAST(N'2024-02-01' AS Date), 1, 2, 1)
INSERT [dbo].[Articles] ([ArticleID], [Title], [Summary], [Content], [Date], [StatusID], [AuthorID], [PartnerID]) VALUES (2, N'Основы облачных технологий', N'Введение в облака', N'Статья о принципах работы облачных сервисов', CAST(N'2024-02-02' AS Date), 1, 3, NULL)
INSERT [dbo].[Articles] ([ArticleID], [Title], [Summary], [Content], [Date], [StatusID], [AuthorID], [PartnerID]) VALUES (3, N'Безопасность веб-приложений', N'Советы по защите', N'Материал о защите сайтов и сервисов', CAST(N'2024-02-03' AS Date), 1, 7, NULL)
SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[ArticleStatuses] ON 

INSERT [dbo].[ArticleStatuses] ([StatusID], [Status]) VALUES (1, N'Опубликована')
INSERT [dbo].[ArticleStatuses] ([StatusID], [Status]) VALUES (2, N'На проверке')
INSERT [dbo].[ArticleStatuses] ([StatusID], [Status]) VALUES (3, N'Отклонена')
SET IDENTITY_INSERT [dbo].[ArticleStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [ArticleID], [UserID], [Content], [Date], [IsDeleted]) VALUES (1, 1, 4, N'Отличная статья!', CAST(N'2024-02-01' AS Date), 0)
INSERT [dbo].[Comments] ([CommentID], [ArticleID], [UserID], [Content], [Date], [IsDeleted]) VALUES (2, 1, 5, N'Очень полезно', CAST(N'2024-02-01' AS Date), 0)
INSERT [dbo].[Comments] ([CommentID], [ArticleID], [UserID], [Content], [Date], [IsDeleted]) VALUES (3, 2, 6, N'Спасибо за материал', CAST(N'2024-02-02' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([PartnerID], [PartnerName], [ContactInfo]) VALUES (1, N'OpenAI', N'contact@openai.com')
INSERT [dbo].[Partners] ([PartnerID], [PartnerName], [ContactInfo]) VALUES (2, N'МАХ', N'info@yandex.com')
INSERT [dbo].[Partners] ([PartnerID], [PartnerName], [ContactInfo]) VALUES (3, N'Google', N'support@google.com')
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (4, N'Автор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Модератор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserRoles] ([UserID], [RoleID]) VALUES (1, 1)
INSERT [dbo].[UserRoles] ([UserID], [RoleID]) VALUES (1, 4)
INSERT [dbo].[UserRoles] ([UserID], [RoleID]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Login], [Password], [Username], [Email], [CreationDate]) VALUES (1, N'admin', N'admin123', N'Администратор', N'admin@mail.com', CAST(N'2024-01-01' AS Date))
INSERT [dbo].[Users] ([UserID], [Login], [Password], [Username], [Email], [CreationDate]) VALUES (2, N'ivanov', N'pass123', N'Иван Иванов', N'ivan@mail.com', CAST(N'2024-01-05' AS Date))
INSERT [dbo].[Users] ([UserID], [Login], [Password], [Username], [Email], [CreationDate]) VALUES (3, N'petrov', N'qwerty', N'Пётр Петров', N'petr@mail.com', CAST(N'2024-01-06' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F6FD9E052B]    Script Date: 27.02.2026 2:06:38 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ__Roles__737584F6FD9E052B] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BD2844DFA]    Script Date: 27.02.2026 2:06:38 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__5E55825BD2844DFA] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  CONSTRAINT [DF__Comments__Create__5AEE82B9]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Comments] ADD  CONSTRAINT [DF__Comments__IsDele__5BE2A6F2]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_ArticleStatuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[ArticleStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_ArticleStatuses]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Partners] FOREIGN KEY([PartnerID])
REFERENCES [dbo].[Partners] ([PartnerID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Partners]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Articles] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Articles] ([ArticleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Articles]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
USE [master]
GO
